@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "AlicorpSans";
  src: url("/fonts/AlicorpSans-Regular.woff2") format("woff2"),
    url("/fonts/AlicorpSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AlicorpSans";
  src: url("/fonts/AlicorpSans-Medium.woff2") format("woff2"),
    url("/fonts/AlicorpSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AlicorpSans";
  src: url("/fonts/AlicorpSans-SemiBold.woff2") format("woff2"),
    url("/fonts/AlicorpSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AlicorpSans";
  src: url("/fonts/AlicorpSans-Bold.woff2") format("woff2"),
    url("/fonts/AlicorpSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "AlicorpSans", sans-serif;
}

.react-datepicker-popper {
  z-index: 20 !important;
}
